body {
    background-color: rgb(240, 218, 217);
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: 20px;
}

p {
    max-width: 900px;
    margin: auto;
    padding: 10px;
    text-align: justify;
}

header {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-size: 120%;
    text-align: justify;
}

.titleFont {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

h1 {
    text-align: center;
}

h2 {
    border-top: 3px solid rgb(0, 0, 0);
    max-width: 900px;
    padding-top: 1em;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#conclusion {  
    display: flex;
    align-items: center;
    border-top: 3px solid;
    border-radius: 3px;
    border-color: rgb(5, 5, 5);
    font-size: 90%;
}

footer {
    max-width: 500px;
    margin: auto;
    text-align: center;
}